:root {
    --first-color: #010A26;
    --second-color: #021641;
    --third-color: #030d2e;
    --paragraph-color: #666;
    --font-roboto: "Roboto";
}

p {
    font-size: 14px !important;
    color: var(--paragraph-color) !important;
    text-align: justify;
}

a {
    text-decoration: none;
}

.font-family-roboto {
    font-family: var(--font-roboto);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round";
}

body {
    background-color: #fff;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

nav {
    z-index: 1;
}

.homepage-bg {
    background-size: 100% calc(400px + (100vh - 580px));
    background-image: url("../assets/background_sm.svg");
    background-position: 0px 60px;
}

.info-bg {
    background-color: #F8F9FA;
}

.bg-first-color {
    background-color: var(--first-color);
}

.bg-collapse-color {
    background-color: var(--third-color);
}

.text-first-color {
    color: var(--first-color) !important;
}

footer{
    width: 100vw;
}

.more-button-div {
    width: 250px;
    position: absolute;
    margin-bottom: 20px;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0 !important;
    right: 0 !important;
}

ul li a {
    font-size: 18px !important;
    position: relative;
    display: block;
    padding: 4px 2px;
    transition: 0.5s;
}

ul li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px !important;
    top: 100%;
    left: 0;
    background: #fff;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.dropdown-toggle::after {
    border: 0;
    margin-left: 0;
}

.dropdown-menu {
    top: 105% !important;
}

.dropdown-divider {
    opacity: 1;
}

.principal-section {
    height: calc(100vh - 62px);
}

.info-section {
    height: calc(100vh - 130px);
    margin: 120px 5px 0px 5px;
    background: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #dee2e6;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    display: relative;
}

.content-section {
    overflow-y: scroll;
    padding-right: 15px;
    padding-bottom: 165px;
}

.principal-title {
    text-align: center;
    margin: 0;
    font-size: calc(1.4rem + 1.5vw);
    color: #fff;
}

.style-1-line {
    border: 2px solid var(--second-color);
    width: 200px;
    opacity: 1;
}

.style-2-line {
    border: 2px solid #fff;
    width: 200px;
    opacity: 1;
}

.button-style {
    color: var(--first-color);
    background-color: #fff;
    font-weight: bold;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.404);
}

.button-style:hover {
    color: #010A26;
}

.bg-img-mobile {
    background-image: url("../assets/background_info_sm.svg");
    background-size: 100vw 200px;
    background-position: 0px -5px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 200px;
}

*::-webkit-scrollbar {
    width: 5px;
    background: #F8F9FA;
}
::-webkit-scrollbar-track {
    background: #F8F9FA;
}
::-webkit-scrollbar-thumb {
    background: var(--first-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--second-color);
}

.info_publication {
    position: absolute;
    top: 80px;
    left: 20px;
}

.info_publication p {
    font-size: 14px !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background: var(--second-color);
}

@media (min-width: 550px) {
    .bg-img-mobile {
        background-image: url("../assets/background_info_md.svg");
        background-size: 100% 200px;
        background-position: -5px -5px;
    }
}

@media (min-width: 600px) {
    .bg-collapse-color {
        background-color: var(--first-color);
    }
    .homepage-bg {
        background-image: url("../assets/background_md.svg");
    }
    .principal-title {
        font-size: calc(1.6rem + 1.5vw);
    }
    .style-2-line {
        width: 350px;
    }
}

@media (min-width: 960px) {
    .principal-info-section {
        height: calc(100vh - 105px);
    }
    .info-section {
        height: 370px;
        width: 56vw;
        margin: 100px 0px 60px!important;
        padding-bottom: 0px;
        background: #fff;
        box-shadow: none !important;
        border: 0px !important;
    }
    .info-bg {
        background-color: #fff;
    }
    .bg-img-mobile {
        background-color: transparent !important;
        background-image: url("../assets/background_info_lg.svg");
        background-repeat: no-repeat;
        background-size: 105% 640px;
        background-position: -5px 76px;
        top: 100 !important;
        z-index: -1;
        left: 0;
        height: 100%;
    }
    .bg-collapse-color {
        background-color: var(--first-color);
    }
    .homepage-bg {
        background-image: url("../assets/background_lg.svg");
        background-position: 0px 60px;
    }
    .principal-title {
        font-size: calc(2rem + 1.5vw);
    }
    .content-section {
        overflow-y: scroll;
        padding-right: 15px;
        padding-bottom: 0px !important;
    }
    .more-button-div {
        width: 250px;
        margin-bottom: 40px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        left: unset !important;
        right: 30px !important;
    }
    
    .info_publication {
        top:90px !important;
    }
}

@media (min-height: 650px) and (max-width: 960px) {
    .principal-section {
        height: 600px;
    }
    .homepage-bg {
        background-size: 100% 450px;
    }
}